.git
.gitignore
.gitattributes

bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

vendor/

.env
.env.*
!.env.example
secrets/
*.pem
*.key

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
tmp/
.sass-cache/

README.md
design/